.envelop {
  fill: currentColor;
  margin-right: 40px;
  transition: color 0.3s;
}

.highlight {
  transform: scale(1.1);
  transition: all 0.2s ease-in-out;
}

.envelop > svg:hover {
  transform: scale(1.1);
}

.envelop > svg:active {
  color: rgb(65, 3, 85);
  transform: scale(0.8);
}

#open,
.disabled {
  pointer-events: none;
}
