.envelop {
  fill: currentColor;
  margin-right: 40px;
}

.highlight {
  transform: scale(1.1);
  transition: all .2s ease-in-out;
}

#envelop-private {
  color: #ee4035;
}

#envelop-public {
  color: #0392cf;
}

#envelop-baseline {
  color: #7bc043;
}
